# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
node_modules/
dist
dist-ssr
*.local

# ASP.NET
bin/
obj/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# App settings 
appsettings.Development.json

# Editor OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
